src/__pycache__
src/
visual_behavior_glm_NP/__pycache__/
visual_behavior_glm_np.egg-info/

# vs code
.idea/
.vscode/

#notebook checkpoints
.ipynb_checkpoints/

# untitled notebooks
Untitled*

# pyc files
*.pyc
